<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile *ngFor="let box of boxes$ | async">
    <mat-card>
      <mat-card-title>{{ box.id }}</mat-card-title>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <p>Rate: {{ box.name | number: "1.2-2" }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [routerLink]="box.id" color="primary">
          Calculate
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<app-loader [isLoading]="isLoading"></app-loader>
